<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock %}
  </head>

  <body>

    <div id="content">{% block content %} {% endblock %}</div>
    <div id="footer">
      {% block footer %}
        &copy;Copyright 2014 by <a href="">{{ __('base.author.name') }}</a>
      {% endblock %}
    </div>

  </body>
</html>
